
.App {
  text-align: center;
  padding: 20px;
}

.profile {
  margin-top: 20px;
  background-color: rgba(0, 255, 255, 0.644);
  border-radius: 8px;
  margin-left: 25rem;
  margin-right: 25rem;
  padding: 20px;
  box-shadow: 0 0 15px rgba(37, 19, 19, 0.315);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.profile:hover {
  transform: scale(1.05);
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.time-interval {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.button{
  transition: transform 0.2s ease-in-out;
  background-color: #ebe4de62;
  color: rgba(10, 8, 41, 0.76);
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px rgba(8, 4, 34, 0.863);
}